@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 87%;
    --foreground: 210 9% 15%;
    
    --card: 0 0% 100%;
    --card-foreground: 210 9% 15%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 210 9% 15%;
    
    --primary: 95 19% 35%;
    --primary-foreground: 40 33% 95%;
    
    --secondary: 210 9% 15%;
    --secondary-foreground: 40 33% 87%;
    
    --muted: 40 33% 92%;
    --muted-foreground: 210 9% 35%;
    
    --accent: 40 33% 90%;
    --accent-foreground: 210 9% 15%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 40 33% 80%;
    --input: 40 33% 80%;
    --ring: 95 19% 35%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
